html {
  font-size: 14px;
}

body {
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

h1 { font-size: 2.6rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.2rem; }

header {
  height: 40px;
  border-bottom: 1px solid #DDD;
  background-color: #FAFAFA;
}

#app {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  }
  #graph, #sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #graph {
    left: 0;
    width: 70%;
    /*padding-bottom: 100%;*/
    vertical-align: middle;
    overflow: hidden;
  }
  #sidebar {
    right: 0;
    width: 30%;
    overflow: scroll;
  }

#sidebar {
  }
  ul#nav li {
    padding: 12px;
  }
  ul#graph-list {
    margin: 0;
  }
  li.node-li {
    padding: 6px;
    border-bottom: 1px solid #DDD;
    list-style: none;
  }
  .node-li:hover,
  .node-li.hover {
    background-color: #FAFAFA;
  }
  .node-li .dropdown {
    display: none;
  }
  .node-li.expand .dropdown {
    display: block;
  }

svg.svgraph {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  }
  circle.node:hover {
    cursor: pointer;
  }
